<input [(ngModel)]="searchText" placeholder="search text goes here">
<table class='table'
   *ngIf='products && products.length'>
  <thead>
    <tr>
      <th>Id</th>
        <th>name</th>
        <th>dept</th>
        <th>percentages</th>
        <th>date of joining</th>
        </tr>
  </thead>
        <tbody>
        
          <tr *ngFor='let product of products | filter : searchText'>
            <td>{{product.id}}</td>
            <td> <a [routerLink]="['/info',product.name]">{{product.name}}</a>
            </td>
            <td>{{product.dept}}</td>
            <td> <button type="button" class="btn" [appShadow]="product.percent">{{product.percent}}</button></td>
            <td>{{product.jd | date:'fullDate' }}</td>
          </tr>
        </tbody>
     
      