<div>
        <button class="btn btn-primary" (click)="updateLimit(5)" type="button" >5</button>
        <button class="btn btn-primary" (click)="updateLimit(10)" type="button" >10</button>
        <button class="btn btn-primary" (click)="updateLimit(20)" type="button" >20</button>
        <button class="btn btn-primary" (click)="updateLimit(30)" type="button" >30</button>
        <button class="btn btn-primary" (click)="updateLimit(40)" type="button" >40</button>
    </div>
<div *ngFor="let post of pagedItems; let i = index" style="display: inline-block; position:relative;left:50px; top:100px" >
<ul style="list-style-type: none">
<li>{{i+1}}. Title : {{post.title}}</li>
<li>Post : {{post.body}}</li>
</ul>
</div>
<div style="position:relative; top:100px; text-align:center">
<ul *ngIf="pagination.pages && pagination.pages.length" class="pagination">
<li [ngClass]="{disabled:pagination.currentPage === 1}">
    <a (click)="setPage(pagination.currentPage - 1)">Prev</a>
</li>
<li *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
    <a (click)="setPage(page)">{{page}}</a>
</li>
<li [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
    <a (click)="setPage(pagination.currentPage + 1)">Next</a>
</li>
</ul>
</div>
